/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************* General ****************/

body{
  background-color: #b30000
}

a{
  text-decoration: none;
  color: white
}

/* a:visited { 
    color: none
} */

li{
  list-style: none
}

p{
  font-family: 'Noto Sans', sans-serif;
}




/************* HEADER ****************/

nav{
  display: flex;
  justify-content: space-between;
  background-color: #0000b3;
  border-bottom: 10px white solid;
  height: 10vh;
}

nav ul{
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  margin-right: 5%;
  padding-top: 5vh;

}

nav ul li{
  font-size: 25px;
  margin: 10px;
  font-family: 'Oswald', sans-serif;
  color: white;
}

nav ul li a:hover{
  color: #b30000
}

.fa-star{
  font-size: 50px;
  order:0;
  align-self: flex-end;
  align-items: center;
  margin-left: 3%;
  margin-bottom: 1%;
  color: white
}



.logout:hover{
  background-color: #b30000;
  color: white;
  border-radius: 5px;
}
/************** Main **************/

.main{
  display: flex;
  justify-content: center;
  border: 1px solid;
  align-items: center;
}





/*********** Elected Officials ************/

.elected_Officials_Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.zip_bar{
  width: 200px;
  height: 34px;
  margin-right: 1px;
  font-size: 20px;
  text-align: center
}


.zip_but{
  font-size: 19px;
  width: 100px;
  height: 41px;
}

.official_item{
  display: flex;
  /* justify-content: center; */
  background-color: #cccccc;
  border: 3px solid #999999;
  min-height: 35vh;
  max-width: 40vw;
  border-radius: 3px;
  padding: 0;
}

.official_Data{
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
}

.official_Img img{
  max-width: 20vw;
  max-height: 35vh;
}

.address_form{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  min-width: 40vw;
  
  
}

/*********** Login Form ************/

.login_form{
  display: flex;
  justify-content: center;
  flex-direction: column
}

/*********** Coming Elections ************/

.elections_Container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector_Container{
  display: flex;
  
}

.selector{
  max-height: 40vh;
}

.elections_Info{
  display: flex;
  flex-direction: column;
  margin: 10px;

}

.elections_Data{
  background-color:#cccccc;
  margin: 5px;
  border: 2px solid;
  padding: 15px;
  border-radius: 5px;
}

.election_Form{
  display: flex;
  justify-content: flex-end;
}

.election_Sub{
  /* font-size: 15px; */
}

.election_Sub:hover{
  background-color: blue;
  color: white;
  border-radius: 5px;
}