/************* General ****************/

a{
  text-decoration: none
}

li{
  list-style: none
}



/************* HEADER ****************/

nav{
  margin: 0;
  padding: 0;
  background-color: red;
  border: 1px black solid
}

nav ul{
  display: flex;
  justify-content: center;
}

nav ul li{
  margin-left: 2%
}